<h1>UFinish Creating Your Profile</h1>

<%= form_for @user_profile do |f| %>
    <%= f.label 'First Name:' %> <br>
    <%= f.text_field :f_name %> <br>

    <%= f.label "Middle_name" %> <br>
    <%= f.text_field :m_name %> <br>

    <%= f.label :l_name %> <br>
    <%= f.text_field :l_name %> <br>

    <%= f.label :phone_number %> <br>
    <%= f.text_field :phone_number %> <br>

    <%= f.label :is_admin %> <br>
    <%= f.check_box :is_admin %> <br>

    <%= f.submit 'Finalize' %>
<% end %>