<div class = 'page-main'>
    <h1>User: <%= @user_profile.full_name %></h1>
    <% if current_user.isAdmin? %>

        
    <% end %>

    <div class="user_info">
        <table align="center">
            <tr>
                <td><h3>First Name</h3></td>
                <td>:</td>
                <td><h3><i><%= @user_profile.f_name %></i></h3></td>
            </tr>
            <tr>
                <td><h3>Middle Name</h3></td>
                <td>:</td>
                <td><h3><i><%= @user_profile.m_name %></i></h3></td>
            </tr>
            <tr>
                <td><h3>Last Name</h3></td>
                <td>:</td>
                <td><h3><i><%= @user_profile.l_name %></i></h3></td>
            </tr>
            <tr>
                <td><h3>Email Address</h3></td>
                <td>:</td>
                <td><h3><i><%= @user_profile.user.email %></i></h3></td>
            </tr>
            <tr>
                <td><h3>Phone Number</h3></td>
                <td>:</td>
                <td><h3><i><%= @user_profile.phone_number %></i></h3></td>
            </tr>
        </table>
        <%= button_to :Assign_Program, new_student_grad_path, method: :get, params: {student_id: @user_profile.user.id}, disabled: @user_profile.status != "Pending" %> 
    </div>
    <% if @user_profile.user.type == :teacher %>
    <div class="teachers_info">
    <h2><u>Teacher specific info</u></h2>
        <h2>Teaching Courses:</h2>
        <ul class = 'w3-container'>
            <% @user_profile.user.teaching_courses.each do |course| %>
                <li>
                    <%= link_to course.name, course_path(course) %> 
                    <ol>
                        <% course.lessons.each do |lesson| %>
                        <li><%= link_to lesson.title, lesson_path(lesson) %></li>   
                        <% end %>
                    </ol>
                </li>

            <% end %>
        </ul>
    </div>
    <% end %>
    <% if @user_profile.user.type == :student || @user_profile.user.type == :unassigned %>
    <div class="students_info">
        <h2><u>Student specific info</u></h2>
        <h3>Status: <i><%= @user_profile.status %></i></h3>
        <% if @user_profile.status != "Pending" %>
            #dashboard info about grad_path and different courses/tests
            <h3>Program: <i><%= @user_profile.user.program.title %></i></h3>
        <% end %>
    </div>
    <% end %>

</div>

