<h1>New Lesson Builder</h1>

<%= form_for @lesson do |f| %>
    <%= f.label :course_id %>
    <%= f.number_field :course_id %>
    <%= f.submit "Save Lesson Plan", id: 'save_lesson_btn' %>
    <%= f.rich_text_area :test %>
    
<% end %>

