<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <h3 class="w3-bar-item">Notes:</h3>
    <ul>
    <% @notes.each do |note| %>
        <li> <%= "Title: #{note.title}-- #{note.body}" %></li>
    <% end %>
    </ul>
</div>
<div id="main">
<!-- Page Content -->
<div class="w3-teal" >
  <% if current_user.isStudent? %>
    <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
  <% end %>
  <div class="w3-container" style="text-align:center;">
    <h1>Lesson Title: <%= @lesson.title %></h1>
  </div>
</div>


<div class="w3-container">
<div id='lesson_window'>
    <%= @lesson.test %>
</div>
    
  <% if current_user.isStudent? %>
    <div class="w3-teal" id = new_notes style="text-align:center;">
        <h3>Add Note:</h3>
        <%= form_for @note do |f| %>
        
            <%= f.label :title %><br>
            <%= f.text_field :title %><br>

            <%= f.label :body %><br>
            <%= f.text_area :body %><br>

            <%= f.hidden_field :lesson_id, value: @lesson.id %>
            <%= f.submit %>
        <% end %>
    </div>
    <%end%>
    <% if current_user.isTeacher?%>
      <div class="w3-teal" id = new_notes style="text-align:center;">
        <%= button_to :Edit, edit_lesson_path(@lesson), method: :get %>
      </div>
    <% end %>
</div>
</div>
<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "30%";
  document.getElementById("mySidebar").style.width = "30%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>
     





