<h1><%= @course.name %></h1>

<h2>Course Type: <%= @course.course_type %></h2>

<% if @course.teachers.count > 0 %>
    <h2>Teacher: <%= @course.teachers.first.full_name %></h2>
    <% if @course.lessons != [] %>
        <ul>
            <% @course.lessons.each do |l| %>
                <li><%= link_to l.title, lesson_path(l) %></li>
            <% end %>
        </ul>
    <% end %>
<% end %>



<%= @course.description %>
<% if current_user.isAdmin? %>
    <%= button_to 'Edit Course', edit_course_path, method: :get  %> <br>
    <%= button_to 'Delete Course', course_path(@course), method: :delete  %>
<% elsif current_user.isTeacher? %>
    <%= button_to 'Add Lessons', new_lesson_path, method: :get, params: { course_id: @course.id }  %> <br>
<% else %>
<% end %>
<% if @course.teachers.count == 0 %>
    <%= button_to 'Assign Teachers', new_teacher_course_path, method: :get, params: { course_id: @course.id } %> <br>
<% end %>


