<!DOCTYPE html>
<html>
  <head>
    <title>EducationSiteProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="body-wrapper">
      <div class="header">
        <div class="navbar">
          <% if !current_user %>

          <% elsif current_user.isAdmin? %>
            <div class="nav-btn">Home</div><div class="nav-btn" id="admin_nav_curr"><%= link_to :Programs, graduation_paths_path %></div><div class="nav-btn"><%= link_to :Courses, courses_path %></div><div class="nav-btn"><%= link_to :Users, user_profiles_path %></div><div class="nav-btn"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></div>
          <% elsif current_user.isTeacher? %>
            <div class="nav-btn">Home</div><div class="nav-btn">Teacher1</div><div class="nav-btn">Teacher2</div>
          <% elsif current_user.isStudent? %>
            <div class="nav-btn">Home</div><div class="nav-btn">Student1</div><div class="nav-btn">Student2</div>
          <% end %>
        </div>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="content"><%= yield %></div>
