<!DOCTYPE html>
<html>
  <head>
    <title>EducationSiteProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="border-color: black; margin-left: 15%; margin-right: 15%; border-style: double;">
      <div class="header" style="height:20%">
        <button>Home</button><button>Button1</button><button>Button2</button>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
